<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Stories</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>
<body>
  <div role="main">
    <nav class="nav bg-light">
      <a class="nav-link" href="http://events.gkriti.art">Home</a>
      <span class="nav-link">
        <%= link "Event List", to: Routes.event_path(@conn, :index) %>
      </span>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <span class="nav-link">
          <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
        </span>
      <% end %>
      <%= if @conn.assigns[:current_user] do %>
        <span class="nav-link disabled">
          <%= @current_user.name %>
        </span>
        <span class="nav-link">
          <%= link("Logout", to: Routes.session_path(@conn, :delete),
              method: :delete) %>
        </span>
      <% else %>
      <%= form_for @conn, Routes.session_path(@conn, :create),
            [class: "form-inline"], fn f -> %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <%= text_input f, :name, class: "form-control" %>
              <%= submit "Login", class: "btn btn-info" %>
            </div>
      <% end %>
      <span class="nav-link">
        <%= link "Register", to: Routes.user_path(@conn, :new) %>
      </span>
      <% end %>
    </nav>


    <%= if get_flash(@conn, :info) do %>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
  </div>
  <div class="container">
    <%= @inner_content %>
  </div>
</body>
</html>
