<h1><%= @event.name %></h1>
<h6><%= @event.date %></h6>
<h6><%= @event.user.name %></h6>
<p><%= @event.desc %></p>

<nav class="nav">
    <span class="nav-link"><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
  <span class="nav-link"><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
</nav>
